{{> restaurant-tabs route='feeds'}}
<h1>最新動態</h1>
<hr />
<div class="row mt-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新餐廳
      </div>
      <div class="card-body">
        {{#each restaurants}}
          <div class="row">
            <div class="col py-3"><img src="{{this.image}}" alt="image" style="width: 15vw;"></div>
            <div class="col py-3">
              <h4>
                <a class="link-primary" href="/restaurants/{{this.id}}">{{this.name}}</a>
                <br>
                <p class="badge bg-secondary mt-2"><small>{{this.Category.name}}</small></p>
              </h4>
              <p class="my-4" style="white-space: break-spaces;">{{this.description}}</p>
            {{relativeTimeFromNow this.createdAt}}
            </div>
            <hr>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新評論
      </div>
      <div class="card-body">
        {{#each comments}}
          <div class="row">
            <div class="col py-3"><img src="{{this.Restaurant.image}}" alt="image" style="width: 15vw;"></div>
            <div class="col py-3">
              <h4>
                <a class="link-primary" href="/restaurants/{{this.Restaurant.id}}">{{this.Restaurant.name}}</a>
                <br>
                <p class="badge bg-secondary mt-2"><small>{{this.Restaurant.Category.name}}</small></p>
              </h4>
              <p class="my-4" style="white-space: break-spaces;">{{this.text}}</p>
              - <a class="link-secondary" href="/users/{{this.User.id}}">{{this.User.name}}</a>
              <small>at {{relativeTimeFromNow this.createdAt}}</small>
            </div>
            <hr>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div> 