<div class="card mx-auto text-center w-50">
    <div class="card-body">
        <div class="restaurant-info">
            <img class="img-thumbnail" src="{{info.Restaurant.image}}" alt="">
            <h3 class="mt-2">{{info.Restaurant.name}}</h3>
        </div>
        <p class="mt-3">{{info.Customer.name}}小姐/先生您好</p>
        <p>以下為您的訂位資訊</p>
            <div class="card-body">
                <p class="date fw-bold">{{info.date}}</p>
                <p class="time text-warning fs-1 fw-bold">{{info.ReserveInfo.openingTime}}</p>
                <p class="people">{{info.numberOfAdult}}大{{info.numberOfChildren}}小</p>
            </div>
    </div>
</div>