<div class="card mx-auto text-center w-50">
    <div class="card-body">
        <div class="restaurant-info">
            <img class="img-thumbnail" src="{{restaurant.image}}" alt="">
            <h3 class="mt-2">{{restaurant.name}}</h3>
        </div>
        <p class="mt-3">{{name}} {{gender}}您好</p>
        <p>以下為您的訂位資訊</p>
            <div class="card-body">
                <p class="date fw-bold">{{date}}</p>
                <p class="time text-warning fs-1 fw-bold">{{time}}</p>
                <p class="people">{{adult}}大{{children}}小</p>
            </div>
    </div>
</div>